/* Default Layout */
@media (min-width: 1200px) {
    
body{font-size: 17px;line-height: 27px}
.navbar-default .navbar-nav > li > a{padding-bottom: 15px;
padding-top: 15px;}
#owl-demo .item img{height: auto;}
.caption{left: 20%;
padding: 25px 55px;top: 20%;}
.caption h2{line-height: 56px; font-size: 36px;}
.caption h3{font-size: 35px;}
.caption a{padding: 10px 15px;}
.find_form{border-radius: 10px 10px 0 0;padding: 25px 20px;}
#location{margin: 0}
.select_1{margin: 0}
.search{margin: 0}
.search-bottom{margin: 45px;}
.area_range{margin-top: 0}
.area_range_2{margin: 60px 0;}
.single_project img{height: 280px;
width: 280px;}
.single_project{padding-bottom: 0px}
.project_content{padding: 0}
.about_list ul li{margin-bottom: 10px;}
.about_right_img{margin:50px 0 0;width: 100%;}
.about_right_img img{height: 360px;}
.single_properties_img{margin-top: 80px;margin-left: 0px;margin-right: 0px}
.single_membership{margin-left: 0px;margin-right: 10px}
.find_properties p{padding: 0 15%;}
.find_properties h2{font-size: 36px}
.title_span span::before{left: 33%; width: 15%;}
.title_span span::after{width: 15%;}
.client_say_alider{}
.background{margin: 0 20%;width: 60%;}
.client_img img{height: 235px;
width: 235px;}
#sync2 div.owl-item{left: 37%;
width: 120px !important;}
.single_service{border-bottom: 0px solid #ddd;padding: 40px 0;}
.go{font-size: 18px;
padding: 5px 30px;}
#newsletter{font-size: 18px;
width: 52%;font-weight: bold;}
.follow_us{text-align: right;}
.single_footer{border-bottom: 0px solid #ae0000;
padding: 0px 0px 0px;text-align: left}
.single_footer_touch{text-align: left;
padding: 0px 05px 0px;}
.navbar-default .navbar-nav .open .dropdown-menu > li > a{color: #000}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{color: #fff}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{background: rgba(15, 124, 198, 0.44) none repeat scroll 0 0;
color: #fff;}
.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu > li > a{padding:5px 15px;}
.banner_section h2{padding-top: 10%;}
.profile_content img{float: left;
height: 250px;
margin-right: 10px;
width: 47%;margin-top: 33px;}
.profile_text{float: right;
width: 51%;}
.about_titile > a{font-weight: bold;
padding: 20px;}
.accordian-icon{margin-right: 15px;float: left;
padding: 0 8px;}
.award_left p{
font-size: 20px;
height: 40px;
line-height: 42px;
width: 40px;}
.single_service_1{margin-bottom: 0px;padding: 0}
.single_service_1 img{height: 230px;}
.single_consulting{display: inline-flex;
margin-top: 75px;padding: 0}
.consulting_image{height: 205px;
margin-right: 10px;
width: 52%;}
.consulting_text{width: 47%;margin-top: 0px}
.responsive_area{display: none}
.agent_content{display: block}
.agent_responsive_image img{height: 290px;
width: 80%;}
.left_side{width: 45%;}
.media-left img{height: 115px;}
.right_side{width: 50%;margin-top: 0}
.top_forrent_ul{margin-top: 0}
.forrent_item_2{padding: 30px 0 0}
.forrent_left{padding: 50px 20px;}
.forrent_item_list_box_2{ height: 265px;}
.forrent_image_2{ height: 264px;float: left;margin: 0}
.forrent_image_2 img{height: 100%}
.forrent_details_2{ height: 265px;}
.top_details_2{ height: 43px;}
.top_details_2 span{margin: 0 5px; display: inline-block;}
.faqs_content h2{ font-size: 30px;
    line-height: 50px;}
.single_faqs ul li h3{font-size: 24px;
line-height: 30px;}
.single_terms_1{padding: 0}
.single_terms_2{padding: 0}
.single_terms_3{padding: 0}
.privecy_1{padding: 0 0 35px;}
.privecy_2{padding: 0 0 35px;}
.privecy_3{padding: 0}
.default_right{margin-top: 0px;padding: 0px}
.default_left{margin-bottom: 0px}
.video iframe{height: 480px;}
.iframe_bottom h3{font-size: 24px;
line-height: 30px;}
#myTab_2{text-align: center;}
#myTab_2 li{display: inline;}
#myTab_2 li a{margin: 0}
.single_gallery_image{width: 100%;margin: 15px 0;}
.all_img{height: 270px;} 
.appart_img{height: 270px;} 
.living_img{height: 380px;} 
.bed_img{height: 200px} 
.p_tag{display: none}
.single_gallery_image img{}
.single_gallery_image:hover img{transform: translate3d(0px, -55px, 0px);}
.single_gallery_image:hover h3{opacity: 1}
.single_gallery_image:hover h4{opacity: 1}
.gallery_2_content p{padding: 0px 50px;}
 .single_blog_right{margin: 20px 0;} 
.single_tag a{display: inline-block;margin: 4px;}
.most_popular_blog h2{margin-bottom: 30px;}
#blog_details img{height: 430px;}
.blog_title{padding: 30px 0;}
.share_blog ul li h3{display: inline-block;margin: 0;}
.comments_main ul li img{height: 115px;
width: 115px;}
.related_post{padding: 40px 0}
.comments_main{padding-top: 50px;}
.blog_comment{display: table-cell}
.leave_comments{margin-top: 50px;
padding-top: 50px;}
#comment_name{width: 75%;padding: 10px;}
#comment_email{width: 75%;padding: 10px;}
#comment_url{width: 75%;padding: 10px;}
#comments_massage{width: 75%;padding: 10px;}
#map_frame{height: 500px;
padding: 15px;}
#contact_name{padding: 10px;
width: 75%;}
#contact_email{padding: 10px;
width: 75%;}
#contact_sub{padding: 10px;
width: 75%;}
#contact_massage{padding: 10px;
width: 75%;}
#Remember{float: left;}
#forget{float: right;}
#login_email{font-size: 17px;
padding: 7px 20px;}
#login_pass{font-size: 17px;
padding: 7px 20px;}
.register_name{font-size: 17px;
padding: 7px 20px}
.register_email{font-size: 17px;
padding: 7px 20px}
.register_pass{font-size: 17px;
padding: 7px 20px}
#tab_hide{display: block}
#tab_index{display: none}
.hide{display: none}  
.media-body h4{font-size: 19px;}
#tab_default_agent{display: none}
#tab_none{display: block}
.send_contact_variation{text-align: center}
#gallery_hide_image{display: none}
#search_2{}
.award_left{margin-right: 10px;
width: 12%;}
.award_right{width: 85%;}
.single_main_service{padding: 0;}
.forrent_item_list_box{height: 530px;}
}





/* Tablet Layout*/

@media only screen and (min-width: 768px) and (max-width: 991px) {

body{font-size: 17px;line-height: 27px;overflow-x: hidden}
.navbar-default .navbar-nav > li > a{font-size: 15px;
padding: 15px 9px;}
#owl-demo .item img{height: 380px;}
.caption{left: 20%;
padding: 25px 40px;
top: 15%;}
.caption h2{font-size: 32px;
line-height: 40px;}
.caption h2{font-size: 27px;}
.caption h3{font-size: 30px;}
.caption a{padding: 7px 10px;}
.find_form{padding: 50px 10px;}
#location{margin: 10px 0;}
.select_1{margin: 10px 0;}
.search{margin: 10px 0;}
.search-bottom{margin: 40px 50px;}
.area_range{margin-top: 35px;}
.area_range_2{margin: 60px 50px;}
.single_project img{height: 190px;
width: 190px;}
.single_project{padding-bottom: 20px;}
.project_content{padding: 20px 0;}
.about_list ul li{margin-bottom: 10px;}
.about_right_img{margin: 50px 75px;
width: 80%;}
.about_right_img img{height: 375px;}
.single_properties_img{margin-left: 0;
margin-right: 0;
margin-top: 30px;}
.single_membership{margin-left: 0;
margin-right: 0;}
.find_properties p{padding: 0 10%;}
.find_properties h2{font-size: 36px;}
.title_span span::before{left: 19%;
width: 28%;}
.title_span span::after{width: 28%;}
.client_say_alider{    background: rgba(0, 0, 0, 0) url("../images/b.jpg") no-repeat fixed -345px 0 / cover ;}
.background{margin: 5% 20%;
width: 65%;}
.client_img img{height: 210px;
width: 210px;}
#sync2 div.owl-item{left: 12%;
width: 110px !important;}
.single_service{border-bottom: 0 solid #ddd;padding: 40px 0;}
.go{font-size: 18px;
padding: 5px 30px;}
#newsletter{font-size: 18px;
width: 52%;font-weight: normal;}
.follow_us{text-align: right;}
.single_footer{border-bottom: 1px solid #ae0000;
padding: 15px 10px;
text-align: center;}
.single_footer_touch{text-align: center}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{background: rgba(15, 124, 198, 0.44) none repeat scroll 0 0;
color: #fff;}
.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu > li > a{padding: 6px 12px;} 
.banner_section h1{padding-top: 12%;}
.profile_content img{float: none;
height: 295px;
margin-right: 0;
width: 100%;margin-top: 33px;}
.profile_text{float: none;
width: 100%;}
.about_titile > a{font-weight: normal;
padding: 10px 20px;}
.accordian-icon{float: left;
margin-right: 10px;
padding: 0 5px;}
.award_left p{font-size: 18px;
height: 30px;
line-height: 30px;
width: 30px;}
.single_service_1{margin-bottom: 0;
padding: 0;}
.single_service_1 img{height: 175px;}
.single_consulting{display: block;
margin-top: 30px;
padding: 0;}
.consulting_image{height: 200px;
margin-right: 10px;
width: 100%;}
.consulting_text{margin-top: 20px;
width: 100%;}
.responsive_area{display: block}
.agent_content{display: none}
.agent_responsive_image img{height: 225px;
width: 75%;}
.left_side{width: 45%;}
.media-left img{height: 200px;}
.right_side{width: 50%;margin-top: 0}
.top_forrent_ul{margin-top: 50px;}
.forrent_item_2{padding: 30px 0 0;}
.forrent_left{padding: 50px;}
.forrent_item_list_box_2{height: 275px;}
.forrent_image_2{height: 275px;}
.forrent_image_2 img{height: 100%}
.forrent_details_2{height: 275px;}
.top_details_2{height: 50px;}
.top_details_2 span{margin: 0 8px; display: inline-block;}
.faqs_content h2{font-size: 30px;
line-height: 50px;}
.single_faqs ul li h3{font-size: 22px;
line-height: 28px;}
.single_terms_1{padding: 0px;}
.single_terms_2{padding: 0px;}
.single_terms_3{padding: 0px;}
.privecy_1{padding: 0 0 30px;}
.privecy_2{padding: 0 0 30px;}
.privecy_3{padding: 0px;}
.default_right{margin-top: 35px;
padding: 0;}
.default_left{margin: 40px 0;}
.video iframe{height: 430px;}
.iframe_bottom h3{font-size: 24px;
line-height: 30px;}
#myTab_2{text-align: center}
#myTab_2 li{display: inline}
#myTab_2 li a{margin: 5px 8px;}
.single_gallery_image{margin: 20px 0;
width: 100%;}
.all_img{height: 240px;}
.appart_img{height: 240px;}
.living_img{height: 260px;}
.bed_img{height: 170px;}
.p_tag{
position: absolute;
background: #cc581a none repeat scroll 0 0;
color: #fff;
display: block;
font-size: 17px;
left: 15px;
line-height: 27px;
padding: 5px 10px;
position: absolute;
top: 20px;}
.single_gallery_image img{position: relative}
.single_gallery_image:hover img{transform: translate3d(0px, 0px, 0px);}
.single_gallery_image:hover h3{opacity: 0}
.single_gallery_image:hover h4{opacity: 0}
.gallery_2_content p{padding: 0 50px;}
.single_blog_right{margin: 30px 0;}
.single_tag a{display: inline-block;margin: 4px;}
.most_popular_blog h2{margin-bottom: 30px;}
#blog_details img{height: 320px;}
.blog_title{padding: 30px 0;}
.share_blog ul li h3{display: inline-block;margin: 0 20px;}
.related_post{padding: 40px 0;}
.blog_comment{display: table-cell;}
.comments_main ul li img{width: 105px;
height: 105px;}
.comments_main{padding-top: 40px;}
.leave_comments{margin-top: 30px;
padding-top: 30px;}
#comment_name{padding: 8px;
width: 75%;}
#comment_email{padding: 8px;
width: 75%;}
#comment_url{padding: 8px;
width: 75%;}
#comments_massage{padding: 8px;
width: 75%;}
#map_frame{height: 450px;
padding: 10px;}
#contact_name{padding: 5px;
width: 95%;}
#contact_email{padding: 5px;
width: 95%;}
#contact_sub{padding: 5px;
width: 95%;}
#contact_massage{padding: 5px;
width: 95%;}  
#Remember{float: left;}
#forget{float: right;}
#login_email{font-size: 16px;
padding: 7px 10px;}
#login_pass{font-size: 16px;
padding: 7px 10px;}
.register_name{font-size: 16px;
padding: 7px 10px;}
.register_email{font-size: 16px;
padding: 7px 10px;}
.register_pass{font-size: 16px;
padding: 7px 10px;}
#tab_hide{display: none}
#tab_index{display: block}
#hide{display: block} 
.media-body h4{font-size: 20px;}
#tab_default_agent{display: block}
#tab_none{display: none}
.send_contact_variation{text-align: left}
#gallery_hide_image{display: block}
#search_2{margin-top: 30px;}
.award_left{margin-right: 12px;
width: 12%;}
.award_right{width: 85%;}
.single_main_service{padding: 0;}
.forrent_item_list_box{height: 531px;}
}



/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {

    
body{overflow-x: hidden;font-size: 16px;line-height: 26px}
.navbar-default .navbar-nav > li > a{padding-bottom: 10px;
padding-top: 10px;}
#owl-demo .item img{height: 280px}
.caption{left: 8%;
padding: 18px 15px;
top: 8%;}
.caption h2{ font-size: 30px;
    line-height: 30px;}
.caption h2{ font-size: 22px;}
.caption h3{    font-size: 25px;}
.caption a{  padding: 8px 12px;}
.find_form{border-radius: 0px; padding: 18px 14px;}
#location{margin: 7px 0;}
.select_1{margin: 7px 0;}
.search{margin: 7px 0;}
.search-bottom{margin: 30px 5px;padding: 0}
.area_range{margin-top: 35px}
.area_range_2{margin: 46px 0;}
.single_project img{height: 210px;
width: 210px;}
.single_project{padding-bottom: 40px}
.project_content{padding: 0px 15px}
.about_list ul li{margin-bottom: 17px}
.about_right_img{ margin: 40px 20px 0; width: 90%;}
.about_right_img img{ height: 275px;}
.single_properties_img{ margin-top: 25px;margin-left: 10px;margin-right: 10px}
.single_membership{margin-left: 10px;margin-right: 10px}
.find_properties p{padding: 0 5%;}
.find_properties h2{font-size: 32px}
.title_span span::before{left: 7%;width: 39%}
.title_span span::after{width: 39%;}
.client_say_alider{}
.background{margin: 0 5%;width: 90%}
.client_img img{width: 195px;height: 195px}
#sync2 div.owl-item{left: 0;width: 90px !important}
.single_service{border-bottom: 2px solid #ddd;border-bottom: 2px solid #ddd;
padding: 40px 30px;}
.go{padding: 5px 20px;font-size: 17px}
#newsletter{font-size: 17px;width: 50%;font-weight: normal;}
.follow_us{text-align: center;}
.single_footer{border-bottom: 1px solid #ae0000;
padding: 15px 15px 20px;text-align: center}
.single_footer_touch{text-align: center;
padding: 15px 15px 20px;}
.navbar-default .navbar-nav .open .dropdown-menu > li > a{color: #eee}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{background-color: rgba(238, 238, 238, 0.65);color: #000}
.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu > li > a{padding:8px 40px;}
.award_left p{font-size: 18px;
height: 30px;
line-height: 30px;
width: 32px;}
.banner_section h1{margin-top: 25%}
.profile_content img{float: none;
height: 270px;
margin-right: 0;
width: 100%;margin-top: 33px;}
.profile_text{float: none;
width: 100%;}
.about_titile > a{ padding: 15px; font-weight: normal;}
.accordian-icon{float: right;margin-right: 0}
.single_service_1{margin-bottom: 50px;  padding: 0 10px;}
.single_consulting{display: block;
margin-top: 50px;
padding: 0 10px;}
.consulting_image{height: 250px;
margin-right: 0;
width: 100%;}
.single_service_1 img{height: 200px;}
.consulting_text{margin-top: 15px;
width: 100%;}
.responsive_area{display: block}
.agent_content{display: none}
.agent_responsive_image img{height: 135px;
width: 80%;}
.left_side{display: block;
width: 100%;}
.media-left img{height: 130px;}
.right_side{display: block;
margin-top: 20px;
width: 100%;}
.top_forrent_ul{margin-top: 20px}
.forrent_item_2{padding: 30px 10px 0}
.forrent_item_list_box_2{height: 380px;}
.forrent_image_2{ float: left;
height: 160px;
margin-bottom: 10px;
margin-right: 10px;
width: 65%;}
.forrent_left{padding: 20px 30px;}
.forrent_image_2 img{ height: 160px;}
.forrent_details_2{ height: 370px;}
.top_details_2{height: 160px;}
.top_details_2 span{ margin: 10px 5px 10px 10px; display: table;}
.faqs_content h2{font-size: 27px;
line-height: 35px;}
.single_faqs ul li h3{font-size: 21px;
line-height: 25px;}
.single_terms_1{padding: 0px 15px}
.single_terms_2{padding: 0px 15px}
.single_terms_3{padding: 0px 15px}
.privecy_1{padding: 0px 10px}
.privecy_2{padding: 30px 10px 0;}
.privecy_3{padding: 30px 10px 0;}
.default_right{margin-top: 50px;padding: 0px 10px}
.default_left{margin: 50px 0}
.video iframe{height: 330px;}
.iframe_bottom h3{font-size: 21px;
line-height: 29px;}
#myTab_2{text-align: center;}
#myTab_2 li{display: block}
#myTab_2 li a{margin: 10px 0}
.single_gallery_image{width: 85%;margin: 15px 25px;}
.all_img{height: 210px;}
.appart_img{height: 210px;}
.living_img{height: 210px;}
.bed_img{height: 210px;}
.p_tag{background: #cc581a  none repeat scroll 0 0;
color: #fff;
display: block;
left: 40px;
padding: 5px 10px;
position: absolute;
top: 14px;font-size: 17px;line-height: 27px}
.single_gallery_image img{position: relative}
.single_gallery_image:hover img{transform: translate3d(0px, 0px, 0px);}
.single_gallery_image:hover h3{opacity: 0}  
.single_gallery_image:hover h4{opacity: 0}  
.gallery_2_content p{padding: 6px 20px;}
.single_blog_right{margin: 65px 0;}
.single_tag a{display: block;
margin: 10px 30px;}
.most_popular_blog h2{   margin-bottom: 35px;}
#blog_details img{height: 240px;}
.blog_title{padding: 30px 10px;}
.share_blog ul li h3{ margin: 0 0 15px;display: block}
.related_post{padding: 40px 10px;}
.comments_main{padding: 40px 10px;}
.blog_comment{display: flex}
.comments_main ul li img{height: 85px;
width: 85px;}
.leave_comments{margin-top: 50px;
padding: 40px 10px 10px;}
#comment_name{padding: 7px 10px;
width: 100%;}
#comment_email{padding: 7px 10px;
width: 100%;}
#comment_url{padding: 7px 10px;
width: 100%;}
#comments_massage{padding: 7px 10px;
width: 100%;}
#map_frame{height: 380px;
padding: 10px;}
#contact_name{padding: 5px 7px;
width: 100%;}
#contact_email{padding: 5px 7px;
width: 100%;}
#contact_sub{padding: 5px 7px;
width: 100%;}
#contact_massage{padding: 10px;
width: 100%;}
#Remember{display: block;
float: none;}
#forget{display: block;
float: none;
margin-left: 25px;}
#login_email{font-size: 16px;
padding: 5px 10px;}
#login_pass{font-size: 16px;
padding: 5px 10px;}
.register_name{font-size: 16px;
padding: 5px 10px;}
.register_email{font-size: 16px;
padding: 5px 10px;}
.register_pass{font-size: 16px;
padding: 5px 10px;}
#tab_hide{display: none}
#tab_index{display: block}
#hide{display: none}   
.media-body h4{font-size: 19px;}
#tab_default_agent{display: none}
#tab_none{display: block}
.send_contact_variation{text-align: left}
#gallery_hide_image{display: block}
#search_2{margin-top: 20px;}
.award_left{margin-right: 7px;
width: 12%;}
.award_right{width: 85%}
.single_main_service{padding: 0 45px;}
.single_responsive_agent{display: block}
.agent_responsive_image{width: 45%;}
.agent_details_responsive{margin: 15px;
padding: 5px 0;
width: 92%;}
.forrent_item_list_box{height: 500px;}
    
}



/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {

body{overflow-x:hidden;font-size: 17px;line-height: 27px}
.navbar-default .navbar-nav > li > a{padding-bottom: 10px;
padding-top: 10px;}
#owl-demo .item img{height: 310px;}
.caption{left: 10%;
padding: 20px;
top: 12%;}
.caption h2{font-size: 30px;
line-height: 30px;}
.caption h2{font-size: 22px;}
.caption h3{font-size: 25px;}
.caption a{padding: 8px 12px;}
.find_form{border-radius: 0;
padding: 20px 50px;}
.select_1{}
.search{}
.search-bottom{}
.area_range{}
.area_range_2{}
.single_project img{width: 220px;height: 220px}
.single_project{padding-bottom: 45px;}
.project_content{padding: 0 55px;}
.about_list ul li{margin-bottom: 30px;}
.about_right_img{margin: 45px 25px 0;
width: 90%;}
.about_right_img img{height: 295px;}
.single_properties_img{margin-left: 40px;
margin-right: 40px;
margin-top: 45px;}
.single_membership{margin-left: 40px;
margin-right: 40px;}
.find_properties p{padding: 0 10%;}
.find_properties h2{font-size: 32px;}
.title_span span::before{left: 18%;
width: 29%;}
.title_span span::after{width: 28%;}
.client_say_alider{background: rgba(0, 0, 0, 0) url("../images/b.jpg") no-repeat fixed 2px 6px / cover ;}
.background{margin: 0 5%;
width: 90%;}
.client_img img{height: 195px;
width: 195px;}
#sync2 div.owl-item{left: 33px;
width: 100px !important;}
.single_service{padding: 40px 60px;}
.go{font-size: 17px;
padding: 5px 20px;}
#newsletter{font-size: 17px;
font-weight: normal;
width: 50%;}
.follow_us{text-align: left;}
.single_footer{border-bottom: 1px solid #ae0000;
padding: 25px 60px;
text-align: center;}
.single_footer_touch{
padding: 25px 60px;
text-align: center;}
.navbar-default .navbar-nav .open .dropdown-menu > li > a{color: #eee}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{background-color: rgba(238, 238, 238, 0.65);color: #000}
.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu > li > a{padding:8px 40px;}

.award_left p{}
.banner_section h1{margin-top: 24%;}
.profile_content img{float: left;
height: 215px;
margin-right: 15px;
margin-top: 6px;
width: 55%;}   
.profile_text{float: none;
width: 100%;}
.about_titile > a{font-weight: normal;
padding: 14px;}
.accordian-icon{float: right;
margin-right: 10px;}
.single_service_1{margin-bottom: 50px;
padding: 10px 60px;}
.single_service_1 img{height: 240px;}
.single_consulting{display: flex;
margin-top: 50px;
padding: 0 10px;}
.consulting_image{height: 185px;
margin-right: 15px;
width: 100%;}
.consulting_text{margin-top: 5px;
width: 100%;}
.responsive_area{display: block;}
.agent_content{display: none;}
.agent_responsive_image img{height: 100%;
margin-left: 15px;
width: 94%;}
.left_side{display: block;
width: 100%;}
.media-left img{}
.right_side{display: block;
margin-top: 20px;
width: 100%;}
.top_forrent_ul{margin-top: 45px;}
.forrent_left{padding: 30px 50px;}
.forrent_item_2{padding: 30px 20px 0;}
.forrent_item_list_box_2{height: 410px;}
.forrent_image_2{float: left;
height: 210px;
margin-bottom: 10px;
margin-right: 30px;
width: 70%;}
.forrent_image_2 img{height: 100%;}
.forrent_details_2{height: 210px;}
.top_details_2{height: 210px;}
.top_details_2 span{display: table;
margin: 10px 5px 10px 10px;}
.faqs_content h2{font-size: 27px;
line-height: 50px;}
.single_faqs ul li h3{font-size: 21px;
line-height: 25px;}
.single_terms_1{padding: 0 30px;}
.single_terms_2{padding: 0 30px;}
.single_terms_3{padding: 0 30px;}
.privecy_1{padding: 0 30px;}
.privecy_2{padding: 0 30px;}
.privecy_3{padding: 0 30px;}
.default_right{margin-top: 50px;
padding: 0 20px;}
.default_left{padding: 30px 50px;}
.video iframe{height: 330px;}
.iframe_bottom h3{font-size: 21px;
line-height: 29px;}
#myTab_2{text-align: center}
#myTab_2 li{display: inline-block;}
#myTab_2 li a{margin: 10px 4px;}
.single_gallery_image{margin: 15px 25px;
width: 85%;}
.all_img{height: 260px;}
.appart_img{height: 260px;}
.living_img{height: 260px;}
.bed_img{height: 260px;}
.single_gallery_image img{position: relative;}
.single_gallery_image:hover img{transform: translate3d(0px, 0px, 0px);}
.single_gallery_image:hover h3{opacity: 0;}
.single_gallery_image:hover h4{opacity: 0;}
.gallery_2_content p{padding: 6px 20px;}
.single_blog_right{margin: 65px 40px;}
.single_tag a{display: block;
margin: 10px 30px;}
.most_popular_blog h2{margin-bottom: 35px;}
#blog_details img{height: 280px;}
.comments_main ul li img{height: 85px;
width: 85px;}
.blog_title{padding: 40px 30px;}
.share_blog ul li h3{display: inline-block;
margin: 0 0 15px;}
.related_post{padding: 40px 30px;}
.comments_main{padding: 40px 30px;}
.blog_comment{display: table-cell;}
.leave_comments{padding: 0 30px;}
#comment_name{padding: 9px 12px;
width: 100%;}
#comment_email{padding: 9px 12px;
width: 100%;}
#comment_url{padding: 9px 12px;
width: 100%;}
#comments_massage{padding: 9px 12px;
width: 100%;}
#map_frame{height: 380px;
padding: 10px;}
#contact_name{padding: 8px 10px;
width: 100%;}
#contact_email{padding: 8px 10px;
width: 100%;}
#contact_sub{padding: 8px 10px;
width: 100%;}
#contact_massage{padding: 8px 10px;
width: 100%;}
#Remember{display: inline;
float: left;
}
#forget{display: inline;
float: right;
margin-left: 25px;}
#login_email{font-size: 16px;
padding: 8px 10px;}
#login_pass{font-size: 16px;
padding: 8px 10px;}
.register_name{font-size: 16px;
padding: 8px 10px;}
.register_email{font-size: 16px;
padding: 8px 10px;}
.register_pass{font-size: 16px;
padding: 8px 10px;}
#tab_hide{}
#tab_index{ }
#hide{display: none}  
.media-body h4{}
#tab_default_agent{display: block}
#tab_none{display: none}
.send_contact_variation{}
#gallery_hide_image{}
#search_2{margin-top: 25px;}
.award_left{margin-right: 10px;
width: 6%;}
.award_right{width: 90%;}
.single_main_service{padding: 0 106px;}
.single_responsive_agent{display: flex}
.agent_responsive_image{width: 50%;}
.agent_details_responsive{margin: 0 15px 0 0;
padding: 0;
width: 50%;}
.forrent_item_list_box{height: 477px;}
}


